* {
  margin: 0;
}

.cart {
  padding: 16px;

  &__icon {
    height: 16px;
    width: 16px;
  }

  &__back {
    color: #89939A;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.34px;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    margin-bottom: 24px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #E2E6E9;
    height: 160px;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #E2E6E9;
    margin-bottom: 52px;

    &-total {
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 8px;
      line-height: 41px;
      text-align: center;
    }

    &-label {
      margin-bottom: 16px;
      color: #89939A;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      text-align: center;
    }
  }

  &__checkout {
    width: 100%;
    padding: 13px;
    background: #313237;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px;
    border-top: 1px solid #E2E6E9;

    &-logo {
      margin-bottom: 20px;
      border: 1px solid red;
      width: 89px;
      height: 32px;
    }

    &-link {
      color: #89939A;
      font-size: 12px;
      text-decoration: none;
      margin-bottom: 10px;
    }
  }

  &__back-to-top {
    display: flex;
    justify-content: center;
    color: #89939A;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 5px 10px;
  }
}