@use '../../styles/utils/mixins' as *;
@import '../../styles/utils/vars';

@font-face {
  font-family: Mont, sans-serif;
  src: url(../../../public/fonts/Mont-Regular.otf);
}

.main {
  @include flex-col;

  gap: 24px;
  margin: 24px 16px 64px;
  &__title {
    @include h1;
    @include for-l-mobile {
      @include d-t-h1;
    }
  }

  &__slider {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  &__hot-prices {
    height: 495px;
    width: 100%;
    text-align: center;
  }
}

.secondary-title {
  font-size: 22px;
  text-align: left;
  margin-bottom: 24px;
  @include for-l-mobile {
    @include d-t-h2;
  }
}
