.ProductPage {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 16px;

  &__title {
    font-family: Mont, sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
  }

  &__slider {
    width: 100%;
    height: 440px;
    text-align: center;
  }

  &__short-specs {
    margin-top: -24px;
  }
}

.short-specs {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__spec {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.34px;
    color: #89939A;
  }

  &__value {
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.34px;
  }
}

.title-slider {
  font-size: 22px;
  text-align: left;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .ProductPage {
    flex-flow: row wrap;
    justify-content: start;
    margin: 152px;
    margin-top: 0;

  }

  .ProductPage__title {
    flex: 1 0 100%;
  }

  .ProductPage__slider {
    order: 3;
    flex: 1 0 100%;
  }

  .short-specs {
    flex: 1 0 48%;
  }

  .About, .TechSpecs, .VariantsSection, .ProductGallery {
    flex: 1 0 60%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1199px) {
  .ProductPage {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .ProductPage__title {
    flex: 1 0 100%;
  }

  .ProductPage__slider {
    order: 3;
    flex: 1 0 100%;
  }

  .short-specs {
    flex: 1 0 48%;
  }

  .bottom {
    display: flex;
  }

  .About, .TechSpecs, .VariantsSection, .ProductGallery {
    flex: 1 0 48%;
  }
}
