@use '../../utils/mixins' as *;
@import '../../utils/vars';

.footer {
  @include flex-col;
  align-items: flex-start;
  gap: 32px;
  padding: 0 16px;
  margin: 32px 0;
  &__links {
    @include flex-col;
    justify-content: space-between;
    height: 65px;
    &--link {
      @include uppercase;
      color: $secondary;
    }
  }
  &__link {
    color: $secondary;
    text-decoration: none;
  }
  &__scrollup {
    @include flex-row;
    margin: 0 auto;
    gap: 16px;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
  &__text {
    @include smalltext;
    color: $secondary;
  }
}
