@use '../../styles/utils/mixins' as *;

.productCard {
  box-sizing: border-box;
  padding: 32px;
  border: 1px solid #e2e6e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-height: 440px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @include for-desktop {
      &:nth-child(1) {
        height: 233px;
      }
    }
  }
  &__container + &__container {
    align-items: stretch;
  }
  &:hover {
    box-shadow: 0 2px 15px 0 rgba(29, 26, 26, 0.05);
  }

  &__img {
    width: auto;
    min-height: 130px;
    object-fit: cover;
    margin-bottom: 16px;
    flex-shrink: 1;

    @media (min-width: 640px) {
      height: 196px;
    }
  }

  &__title {
    color: #313237;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: start;
    flex-grow: 1;
  }

  &__prices {
    width: 100%;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #e2e6e9;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    text-align: left;
  }

  &__old-price {
    position: relative;
    color: #89939a;
    font-weight: 500;
    margin-left: 8px;
  }

  &__line-through {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #89939a;
    color: #fff;
    overflow: hidden;
    line-height: 1.2px;
  }
  &__info--container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__info-row {
    color: #89939a;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__info-value {
    color: #313237;
  }

  &__btns {
    display: flex;
    width: 100%;
    gap: 8px;
    height: 40px;
    margin-top: 16px;
  }

  &__addToCart {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    background-color: #313237;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
    }
  }

  &__favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: #fff;
    transition: all 0.3s;
    border: 1px solid #b4bdc3;
    cursor: pointer;

    &:hover {
      border: 1px solid #313237;
    }
  }

  &__btn {
    &:active {
      transform: scale(0.9);
    }
  }
}
