@import './container';

.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 100vh;
  .container {
    padding: 0 16px 56px;
    font-size: 12px;
    font-weight: 600;

    @include page-grid;
  }
}

.no-scroll {
  overflow: hidden;
}
