.VariantSection {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__separator {
    width: 100%;
    height: 0;
    border: 1px solid #E2E6E9;
  }
}

.buttons {
  display: flex;
  gap: 8px;

  &__add {
    width: 100%;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
}
